<div class="row mb-4">
    <!-- Product Name -->
    <div class="col-md-4">
      <label for="product-name" class="form-label">Products/Service:</label>
      <input type="text" class="form-control" value="{{product_name}}" id="product-name" placeholder="New Product">
    </div>
    <!-- Products Description -->
    <div class="col-md-7">
      <label for="description-text" class="form-label">Product Description:</label>
      <textarea name="description-text" class="form-control" rows="1" id="description-text">{{description_text}}</textarea>
    </div>
    <!-- Delete Button -->
    <div class="col-md-1 d-flex justify-content-end align-items-end">
      <button type="button" class="btn btn-danger delete-product-btn" data-id="{{id}}">-</button>
    </div>
</div>