<div class="card col-md-3 m-1 p-4">
  <div class="card-body">
    <h2 class="card-title mb-3">{{company_name}}</h2>
    <p class="card-text">{{about}}</p>
    <h6 class="card-subtitle pb-5 ">Phone: {{phone}}</h6>
    <div>
    <a href="/company/{{id}}" class="card-link mb-3">VIEW MORE</a>
    </div>
  </div>
</div>