<div class="card col-3 m-2">
  <div class="card-body">
    <h5 class="card-title">{{company_name}}</h5>
    <p class="card-text">{{about}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Phone: {{phone}}</h6>
    <a href="#" class="card-link ">View more</a>
  </div>
</div>