
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Product: <span class="card-text">{{product_name}}</span></h5>
        <h5 class="card-title">Description: <span class="card-text">{{description_text}}</span></h5>
    </div>
</div>
