<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-dark bg-dark navbar-expand-sm bg-light text-left">
                <div id="main">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
                <a href ="/">
                    {{#if loggedIn}}
                    <a class="text-right" href="/dashboard">Welcome to your dashboard.</a>
                    <button id="logout" class="btn-no-style text-right">logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </a>
            </nav>

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">Name</a>
                <a href="#">Industry</a>
                <a href="#">Services</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
        </header>
        <main>

            {{{ body }}}

        </main>
        <footer>

    </div>
    </footer>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/">LocalShop ©2021</a>
    </nav>
    </div>
    </div>
    </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</body>
</html>