<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm bg-light text-left d-flex justify-content-between px-4">
                <div class="col-md-4" id="main">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <a href="/"><img class="logo" src="logo.png"></a>
                </div>
                <div class="col-md-4 d-flex flex-row-reverse">
                    {{#if loggedIn}}
                    <a class="p-2 text-right" href="/dashboard">Company Dashboard</a>
                    <button id="logout" class="p-2 btn-no-style">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </div>
            </nav>

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="/searchAll">All Companies</a>
                <a href="#">Name</a>
                <a href="#">Industry</a>
                <a href="#">Services</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer class="navbar-dark bg-dark">
            <a href="/">LocalShop ©2021</a>
        </footer>
    </div>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

</body>

</html>