<div class="container text-center mt-5">
    <div class="row">

    <h1 class="aboutus-title mb-5">About Us</h1>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2> Meet our Developers</h2>
            <p>We are a group of 4 students from the University of Toronto SCS, taking on a Web Development Bootcamp.</p>
            <h4>Meet the Team!</h4>
            <p>Sean Brent</p>
            <p>Chailtali Patel</p>
            <p>Aimee Jesso</p>
            <p>Jeremy Santos</p>
        </div>

        <div class="col-sm-4">
            <h2>Why LocalShop?</h2>
            <p>We decided on an idea of creating a main hub for local businesses to advertise their products/services. <br></p>
        </div>
        <div class="col-sm-4">

        </div>

    </div>
</div>