<form class="signup-form">
<h3>New to Localshop?  Sign up here!</h3>
  <div>
    <label for="username-signup">Username:</label>
    <h4>Must be at least 8 characters</h4>
    <h4>Username is case sensitive</h4>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <h4>Must be at least 8 characters</h4>
    <input type="text" id="password-signup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>

<form class="login-form">
<h3>Returning Users</h3>
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="text" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>