<div class="row mt-2">
  <img class="result-img" src="result-page.jpg">
</div>

<div class="result-title row">
  <h1 class="display-4 text-center">LocalShop Search Results</h1>
</div>
<div class="row d-flex flex-wrap justify-content-center">
  {{#each companies as |company|}}
    {{> company-card company}}
  {{/each}}
</div>

